/*****T-Mobile custom weighted font-faces*****/

@font-face {
    font-family: Tele-Grotesk-Nor;
    font-weight: 800;
    src: url('/assets/fonts/tele-grotesk/tele-grotesk-nor.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/tele-grotesk/tele-grotesk-nor.ttf') format('truetype');
}

@font-face {
    font-family: Tele-Grotesk-Hal;
    font-weight: 400;
    src: url('/assets/fonts/tele-grotesk/tele-grotesk-hal.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/tele-grotesk/tele-grotesk-hal.ttf') format('truetype');
}

@font-face {
    font-family: Tele-Grotesk-Fet;
    font-weight: 500;
    src: url('/assets/fonts/tele-grotesk/tele-grotesk-fet.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/tele-grotesk/tele-grotesk-fet.ttf') format('truetype');
}

@font-face {
    font-family: Tele-Grotesk-Ult;
    font-weight: 700;
    src: url('/assets/fonts/tele-grotesk/tele-grotesk-ult.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/tele-grotesk/tele-grotesk-ult.ttf') format('truetype');
}