/* Greyscale color variables */

$tmo-white: #FFFFFF; // preferred
$tmo-white-grey: #F8F8F8;
$tmo-light-grey: #E8E8E8; // preferred
$tmo-mid-grey: #a2a2a2; // preferred
$tmo-dark-grey: #6A6A6A; // preferred
$tmo-black-grey: #3E3E3E;
$tmo-black: #000000; // preferred

/* Magenta color variables */

$tmo-white-magenta: #FAA5D0;
$tmo-light-magenta: #EE4B9F;
$tmo-magenta: #E20074; // preferred
$tmo-dark-magenta: #BA0060;

/* Notification color variables */
